<h1>Create New Employee</h1>

<table>
  <tr>
    <td><span>First Name</span></td>
    <td><input type="text" id="first_name"/></td>
  </tr>
  <tr>
    <td><span>Last Name</span></td>
    <td><input type="text" id="last_name"/></td>
  </tr>
  <tr>
    <td><span>Email</span></td>
    <td><input type="text" id="email"/></td>
  </tr>
  <tr>
    <td><span>Role</span></td>
    <td><input type="text" id="role"/></td>
  </tr>
</table>
<button id="submit" onclick="createEmployee()">Save</button>
<a href="/admin/employees"><button id="cancel">Cancel</button></a>

<script src="/js/admin-employees.js"></script>