<h1>Create New Product</h1>

<table>
  <tr>
    <td><span>Name</span></td>
    <td><input type="text" id="name"/></td>
  </tr>
  <tr>
    <td><span>Rate</span></td>
    <td><input type="text" id="rate"/></td>
  </tr>
</table>
<button id="submit" onclick="createProduct()">Save</button>
<a href="/admin/products"><button id="cancel">Cancel</button></a>

<script src="/js/admin-products.js"></script>