<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='icon' href='data:,'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunnyside</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>
      [main.handlebars: header, nav, footer]
    </h1>

    <nav>
        <a href="/dashboard">user dashboard</a>
        {{#if logged_in}}<a href="/logout">sign out</a>{{/if}}
    </nav>

  </header>
  <main>
  
    {{{ body }}}
  
  </main>
  <footer>
  </footer>

</body>

</html>
