<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='icon' href='data:,'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunnyside</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

 {{!-- link for the google font poppins --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    {{#if logged_in_as_admin}}
    <link rel="stylesheet" href="/css/admin-styles.css">
    {{/if}}

    {{#if logged_in_as_customer}}
    <link rel="stylesheet" href="/css/customer-view.css">
    {{/if}}

</head>

<body class="d-flex flex-column h-100">
    <header> 
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080 ;"> <!-- Inline style for teal color -->
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/assets/logo.png" class="card-img-top mx-auto d-block" alt="Image for Box 1"  width="100px" height="70px" style="float: left;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" >
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">User Dashboard</a>
                        </li>
                        {{#if logged_in}}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Sign Out</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log In</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>


    <div class="container-fluid flex-grow-1"> <!-- Container to hold the main content -->
        <div class="row">
            {{#if logged_in}}
            <div class="col-md-3 col-lg-3 bg-white p-3 mr-4 ml-4"> <!-- Left column with white background, padding, and left/right margin -->

                {{#if logged_in_as_admin}}
                <div class="mb-2">
                    <a href="/admin/calendars" class="btn btn-primary btn-block">Schedule</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/customers" class="btn btn-primary btn-block">Customers</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/employees" class="btn btn-primary btn-block">Employees</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/users" class="btn btn-primary btn-block">Users</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/products" class="btn btn-primary btn-block">Products</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/invoices" class="btn btn-primary btn-block">Invoices</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/payments" class="btn btn-primary btn-block">Payments</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/records" class="btn btn-primary btn-block">Records</a>
                </div>
                <div class="mb-2">
                    <a href="/admin/reports/ar" class="btn btn-primary btn-block">Accounting</a>
                </div>
            
            {{/if}}

            {{#if logged_in_as_employee}}
                {{!-- employee navigation --}}
                <div class="container-fluid flex-grow-1"></div>
                <div class="row">
                 <div class="col-md-3 col-lg-3 bg-white p-3 mr-4 ml-4">
                    <div class="mb-2">
                    <a href="/employee/employee-info" class="btn btn-primary btn-block">My Information</a>
                     </div>
                    <div class="mb-2">
                    <a href="/employee/update" class="btn btn-primary btn-block">Update My Password</a>
                    </div>
                    <div class="mb-2">
                    <a href="/employee/log-new-service" class="btn btn-primary btn-block">Log New Service</a>
                    </div>
                    <div class="mb-2">
                    <a href="/employee/log-new-expense" class="btn btn-primary btn-block">Log New Expense</a>
                    </div>
                    <div class="mb-2">
                    <a href="/employee/log-new-note" class="btn btn-primary btn-block">Log New Note</a>
                    </div>
            {{/if}}


            {{#if logged_in_as_customer}}
                {{!-- customer nav goes here --}}
                    
                <div class="mb-2">
                    <a href="/customer/invoices">View my invoices.</a>
                </div>
                <div class="mb-2">
                    <a href="/customer/payments">View my payments.</a>
                </div>
=========
    <div class="d-grid gap-2 col-6 mx-auto">
       <a href="/customer/invoices" class="btn btn-primary btn-block">View my invoices</a>
       <br>
       <a href="/customer/updateacc" class="btn btn-primary btn-block">Update Account</a>
    </div>
>>>>>>>>> Temporary merge branch 2

            {{/if}}
            </div>
            {{/if}}

            <div class="col-md-8 col-lg-8 bg-white p-3 {{#unless logged_in}}mx-auto{{/unless}}">
                <main> <!-- Box with the handlebars body -->
                    {{{ body }}}
                </main>
            </div>
        </div>
    </div>

    <footer class="footer py-3" style="background-color: #008080; color: white;"> <!-- Inline style for teal background and white text -->
        <div class="container text-center">
            <span>&copy; 2024 Sunnyside. All rights reserved.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
