<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='icon' href='data:,'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunnyside</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Add Google Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Check user roles and include relevant stylesheets -->
    {{#if logged_in_as_admin}}
    <link rel="stylesheet" href="/css/admin-styles.css">
    {{/if}}
    {{#if logged_in_as_customer}}
    <link rel="stylesheet" href="/css/customer-view.css">
    {{/if}}
    {{#if logged_in_as_employee}}
    <link rel="stylesheet" href="/css/admin-styles.css">
    <link rel="stylesheet" href="/css/employee-view.css">
    {{/if}}
</head>
<body class="d-flex flex-column h-100">
    <!-- Header Section -->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080;">
            <div class="container">
                <!-- Button to open side navigation -->
                {{#if logged_in}}
                <button id="openNav" class="btn btn-primary rounded-pill" style="background-color: #008080;">Menu</button>
                {{/if}}
                <a class="navbar-brand" href="/">
                    <img src="/assets/logo.png" class="card-img-top mx-auto d-block" alt="Image for Box 1"  width="100px" height="70px" style="float: left;">
                </a>
                {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> --}}
                <div id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">User Dashboard</a>
                        </li>
                        {{#if logged_in}}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Sign Out</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log In</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Side Navigation -->
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
    <!-- Add links based on user role -->
    {{#if logged_in_as_admin}}
        <a href="/admin/calendars">Schedule</a>
        <a href="/admin/customers">Customers</a>
        <a href="/admin/employees">Employees</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/products">Products</a>
        <a href="/admin/invoices">Invoices</a>
        <a href="/admin/payments">Payments</a>
        <a href="/admin/records">Records</a>
        <a href="/admin/reports/ar">Accounting</a>
    {{/if}}
    {{#if logged_in_as_employee}}
        <a href="/employee/calendar">My Calendar</a>
        <a href="/employee/employee-info">My Information</a>
        <a href="/employee/update">Update My Password</a>
        <a href="/employee/log-new-service">Log New Service</a>
        <a href="/employee/log-new-expense">Log New Expense</a>
    {{/if}}
    {{#if logged_in_as_customer}}
        <a href="/customer/invoices">View Invoices</a>
        <a href="/customer/payments">View Payments</a>
        <a href="/customer/update/{{customer_id}}">Update Account</a>
    {{/if}}
</div>

    <!-- Content Section -->
    <div class="container-fluid flex-grow-1">
        <div class=" bg-white p-3 mx-auto">
            <main>
                {{{ body }}}
            </main>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer py-3" style="background-color: #008080; color: white;">
        <div class="container text-center">
            <span>&copy; 2024 Sunnyside. All rights reserved.</span>
        </div>
    </footer>

    <!-- JavaScript Section -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/sidenav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
</body>
</html>
