<h1>Update My Password</h1>

<form id="searchFilters" action="/employee/new-password/" method="post">
  <span>New Password</span>
  <input type="text" id="newPassword" name="newPassword"/>
  <button type="submit">Submit</button>
</form>