<h1>[employee/homepage.handlebars:] Employee Homepage</h1>
<h2>Welcome {{userData.first_name}}</h2>

<p>(render links to employee tools in an aside)</p>
<pre>
EL Ideas:
    -view their own service schedule
    -log cleaning service: enter service information
    -log expense: enter expense information    
    -log customer_interaction note
</pre>


