<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 py-5">
                <img src="./assets/logo.png" class="card-img-top mx-auto d-block" alt="sunnyside-logo">
                <div class="card-body">
                    <!-- Content for Box 1 goes here -->
                </div>
            </div>
            <div class="card mb-4 py-5">
                <div class="card-body">
                    <h5 class="card-title">About us!</h5>
                    <!-- Image floated to the left -->
                    <img src="./assets/about_us.jpg" class="img-fluid float-left mr-3 mb-3" alt="Image" style="max-width: 300px;">
                    <!-- Text wrapped around the image -->
                    <p>Welcome to Sunnyside Pool Services, your trusted partner in keeping your pool crystal clear and ready for relaxation. With a passion for pristine pools and a commitment to customer satisfaction, our team at Sunnyside Pool Services brings years of expertise to every job.</p>
                    <p>At Sunnyside Pool Services, our mission is to provide unparalleled pool cleaning and maintenance services that exceed our customers' expectations. We aim to create a poolside oasis where you can enjoy endless moments of fun and relaxation with family and friends.</p>
                    <p>What sets us apart:</p>
                    <ul>
                        <li>Experienced Professionals</li>
                        <li>Attention to Detail</li>
                        <li>Reliability</li>
                        <li>Customer-Centric Approach</li>
                    </ul>
                    <p>Ready to experience the Sunnyside difference? Contact us today to schedule a consultation and discover how we can transform your pool into a pristine oasis of relaxation and enjoyment.</p>
                </div>
            </div>
            <div class="card mb-4 py-5">
                <div class="card-body">
                    <a class="nav-link" href="/login">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
