<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 py-5">
                <img src="./assets/logo.png" class="card-img-top mx-auto d-block" alt="sunnyside-logo">
                <div class="card-body">
                
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">About us!</h2>

                    <img src="./assets/about_us.jpg" class="img-fluid float-left mr-3 mb-3" alt="Image" style="max-width: 300px;">
                    <p>Welcome to Sunnyside Pool Services, your trusted partner in keeping your pool crystal clear and ready for relaxation. With a passion for pristine pools and a commitment to customer satisfaction, our team at Sunnyside Pool Services brings years of expertise to every job.</p>
                    <p>At Sunnyside Pool Services, our mission is to provide unparalleled pool cleaning and maintenance services that exceed our customers' expectations. We aim to create a poolside oasis where you can enjoy endless moments of fun and relaxation with family and friends.</p>
                    <p>What sets us apart:</p>
                    <ul>
                        <li>Experienced Professionals</li>
                        <li>Attention to Detail</li>
                        <li>Reliability</li>
                        <li>Customer-Centric Approach</li>
                    </ul>
                    <p>Ready to experience the Sunnyside difference? Contact us today to schedule a consultation and discover how we can transform your pool into a pristine oasis of relaxation and enjoyment.</p>
                </div>
            </div>
           <div class="card mb-4">
            <div class="card-body">

                <h2 class="card-title">Contact Us</h2>

                <p>Email us at: <a href="mailto:sunnyside.sacramento@gmail.com">sunnyside.sacramento@gmail.com</a></p>
                <p>Call us: <strong>415-602-3085</strong></p>
                <p>Address:<br>
                <strong>5418 Spilman Ave.<br>
                Sacramento, CA 95819</strong></p>

                <div id="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27688.40116111441!2d-121.44708772447314!3d38.5735584752743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada6f3a6784ff%3A0x734386126d3414d6!2s5418%20Spilman%20Ave%2C%20Sacramento%2C%20CA%2095819!5e0!3m2!1sen!2sus!4v1712183655215!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

                </div>
            </div>
        </div>

        </div>
    </div>
</div>
