h2 {
    font-size: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family:"poppins", sans-serif ;
}

 h1 {
    font-family: "poppins", sans-serif;
    font-weight: 600;
 }

 h3 {
    padding-bottom:15px ;
 }

 table {
    text-align: center;
 }

