<h1>[customer/homepage.handlebars:] Customer Homepage</h1>
<h2>Welcome {{userData.first_name}}</h2>


<p>(render links to customer tools in an aside)</p>
<pre>
EL Ideas:
    -view invoices / payment history 
    (payments not currently accepted through app)
</pre>


