<h1>[customer/homepage.handlebars:] Customer Homepage</h1>
<h2>Welcome {{userData.first_name}}</h2>


<aside>
    <a href="/customer/invoices">View my invoices.</a>
    <br>
    <a href="/customer/payments">View my payments.</a>
</aside>
<pre>
EL Ideas:
    -view invoices / payment history 
    (payments not currently accepted through app)
</pre>


