<h1>Welcome, {{userData.first_name}}!</h1>
 <br>
<aside>

    <div class="d-grid gap-2 col-6 mx-auto">
       <a href="/customer/invoices" class="btn btn-primary btn-block">View my invoices</a>
       <br>
       <a href="/customer/updateacc" class="btn btn-primary btn-block">Update Account</a>
    </div>

</aside>
<br>
<hr>
<body><center>
    Contact Us!
<br>
<img src="/public/assets/envelope.jpg" width="20" height="20">
sunnyside@gmail.com 
</body></center>



