<h1>My Invoices</h1>
<hr>

<table>
{{#each invoices }}
    <tr>
        <td>{{format_date this.date}}</td>
        <td><a href="/customer/view/invoice/{{this.id}}">View invoice</a></td>
    </tr>
    
{{/each}}
</table>
