<h1>{{customer}} Information</h1>

<!-- input for email -->
<div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
          <label for="floatingInputGrid">Email address</label>
        </div>
      </div>
<!-- input for customer's name if they want that updated -->
<div class="input-group mb-3">
  <span class="input-group-text">@</span>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Your Name">
    <label for="floatingInputGroup1">Customer Name</label>
  </div>
</div>
